
$base: #f1f1f1;
$secondary: #c4aeae;
$accent: #d33751;
$complementary: #b60f2b;
$invoice: rgba(55, 132, 55, 0.782);
$bill: rgba(0, 0, 255, 0.577);
$textCol: #232121;

$warn-bord:#ffbf00;
$warn-col:#b8a000;
$warn-bg:#ffe7cfe5;
$info-bord:#00309986 ;
$info-col:#1466d8c3 ;
$info-bg:#d5dff6e5 ;
$alert-bord:#ff0000 ;
$alert-col:#790101ad ;
$alert-bg:#fde9e9e5 ;