@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary: #e3e3e3;
  --secondary: #c4aeae;
  --accent: #d33751;
  --complementary: #b60f2b;
  --invoice: #025702;
  --bill: #07074a;
  --base: #232121;
}

body {
  box-sizing: border-box;
  padding: 0;
  font-family: 'cabin', Arial, Helvetica, sans-serif;
  display: flex;
  height: 96vh;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  color:var(--base);
  background-color: #f1f1f1;
}

#title {
  font-size: 2.5rem;
  color: var(--accent);
}

/* form  */
#input-form {
  height: 25%;
  width: 100%;
  padding:30px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 0.3rem solid var(--accent);
}
label {
  display: flex;
  flex-direction: column;
}
input,
select {
  padding: 4px;
  border-radius: 3px;
  border: none;
  border: 3px solid transparent;
}
input:focus,
select:focus{
    outline: none;
    border-bottom: 3px solid var(--accent);
    /* border:none; */
}
button{
    color: white;
    border: 0;
    background: var(--accent);
    padding: 6px;
    min-width: 80px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
  }
.group1,
.group2 {
  display: flex;
  align-items: end;
  gap: 20px;
}

/* main section */

section.history {
  padding: 10px 30px;
  width: 80%;
}

.list {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 4px;
  padding: 10px 20px;
  border-radius: 3px;
}
.list-heading{
    display:flex;
    justify-content: space-between;
    padding-inline: 30px;
    font-size: larger;
    font-weight: bold;
    line-height: 2rem;
}
.amount_section{
    text-align: right;
    margin-right:10px;
    display: flex;
    flex-direction: column;
}
.transaction_amount{
    font-weight: bold;
    color:rgb(189, 3, 3);
}
.transaction_description{
    padding-left: 10%;
    font-style: italic;
}

.invoice {
  border: 1px solid var(--invoice);
  border-bottom: 5px solid var(--invoice);
}
.bill {
  border: 1px solid var(--bill);
  border-bottom: 5px solid var(--bill);
}


.alert-box{
    border-radius: 4px;
    position: absolute;
    right: 45vh;
    top: 50px;
    width: 200px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline:15px;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.alert-box.alert{
    border: 2px solid #ff0000;
    color: #790101ad;
    background-color: #fde9e9e5;
}
.alert-box.warn{
    border: 2px solid #ffbf00;
    color: #b8a000;
    background-color: #ffe7cfe5;
}
.alert-box.info{
    border: 2px solid #00309986;
    color: #1466d8c3;
    background-color: #d5dff6e5;
}